extends layout

block above-content

block header
  header.text
    h2 Admin

block content
    .section.admin
        p(style='color:red; margin: 3rem auto;')
            | #[i(class="fas fa-exclamation-triangle")] Know what you are doing. Don't play around here!
            | #[i(class="fas fa-exclamation-triangle")]

        h2 Tickets
        p
            | Generate new tickets. These will be active immediately.

        form(method='POST', action='/tickets')
            .row
                .ten.columns
                    .form-group
                        label(for='type') Type
                        select.form-control(id='type', required, name='type')
                            option(value='student', selected) Student
                            option(value='partner') Partner
                    .form-group
                        label(for='amount') Amount
                        input.form-control(type='number', name="amount", value=0)

                .two.columns
                    button.button.special(type='submit') Generate
