extends layout
block above-content

block header
    div#home
    header(id='particles-js' class='hero index particles')
      //- img(class='logo' src='images/logo.svg' alt='DisruptIT')
      div(class="main__logo")
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 817.71 255.38"><defs><style>.cls-1{fill:#e46767;}.cls-2{fill:#d64e4e;}.cls-3{fill:#39b34a;}.cls-4{fill:#e88483;}.cls-5{fill:#90ffb1;}.cls-6{fill:#4fde7b;}.cls-7{fill:#00ca33;}.cls-8{fill:#666;}</style><symbol id="Logo" data-name="Logo" viewBox="0 0 98.34 255.38"><path class="cls-1" d="M95.61,60.64c4.41,21,5.46,47.64-12.53,67.11a53.1,53.1,0,0,1-6.22,5.64l3.9-68.5s0,0,.07-.06Z"/><path class="cls-2" d="M95.61,60.64,80.83,64.83a44.1,44.1,0,0,0,6.45-17.59,76.31,76.31,0,0,0-.47-17.94C87.89,34.24,92.55,46.1,95.61,60.64Z"/><path class="cls-3" d="M86.79,29.2a7.25,7.25,0,0,1-.16-.88,1,1,0,0,1,0-.13C86.63,28.26,86.7,28.61,86.79,29.2Z"/><path class="cls-1" d="M78.9,33c2.35,13,3,28,1.86,31.84L38.48,104l2.61-55c0,.15.45,0,1.18-.54h0L78.9,33Z"/><path class="cls-4" d="M80.76,64.85s0,0,0,0l-3.9,68.5L38.48,104Z"/><path class="cls-2" d="M78.9,33h0L42.27,48.44c3.48-2.36,13.64-11.53,17.61-22.73S65-1.6,65.64.13c2.09,5.21,9.19,15.53,11.85,26.23C78,28.47,78.49,30.7,78.9,33Z"/><path class="cls-5" d="M76.86,133.39,25.41,144.16a125.09,125.09,0,0,1,4.46-17.89c2.38-7,8.42-21.81,8.61-22.27h0Z"/><path class="cls-6" d="M25.41,144.16l51.45-10.77c-11.52,9-26.56,15.54-34.6,33.9A76.77,76.77,0,0,0,37,183.6L25.41,144.17Z"/><path class="cls-7" d="M51.39,251.46l-6.52,3.92a202.69,202.69,0,0,1-11.74-24.8c-.3-.75-2.67-8.09-5.11-18.08l18.16,29.12A81.15,81.15,0,0,0,51.39,251.46Z"/><path class="cls-6" d="M46.18,241.62,28,212.5,37,183.63a68.35,68.35,0,0,0-1.22,9.11C34.42,212.12,41.13,230.72,46.18,241.62Z"/><path class="cls-2" d="M26.59,27.87s17.27,8.3,14.5,21.07L17.55,58.66C31.87,39.48,26.59,27.87,26.59,27.87Z"/><path class="cls-1" d="M41.09,48.94s0,0,0,0l-2.61,55L17.55,58.66Z"/><path class="cls-5" d="M17.55,58.66,38.48,104,0,104.56a58.75,58.75,0,0,1,.28-8.42C3.05,72,11,67.47,17.55,58.66Z"/><path class="cls-6" d="M38.48,104h0a69.92,69.92,0,0,0-12.94,16.59,81.64,81.64,0,0,0-6.66,22.63L.05,104.65a.28.28,0,0,1,0-.09Z"/><path class="cls-7" d="M37,183.6v0L28,212.5a215.51,215.51,0,0,1-5.23-29c-.67-6.9-.24-23.23,2.62-39.32L37,183.6Z"/><path class="cls-7" d="M.05,104.65l18.83,38.57a150,150,0,0,0-1.39,32.32S1,133,.05,104.65Z"/></symbol><symbol id="LogoDark" data-name="LogoDark" viewBox="0 0 817.71 255.38"><use width="98.34" height="255.38" xlink:href="#Logo"/><path class="cls-1" d="M816.87,106.05l-13.75.06-96.59.45c-1.26,0-1.7.2-1.7,1.47v24.3c0,.84.21,1,1,1L743.3,133c.17,7.71.3,18.82.42,31.22.31,34.89.42,80,.42,88.18a.56.56,0,0,0,.63.63c7.57,0,23.75-.21,30.69-.63.63,0,.84-.42.84-1.26-1.25-17.46-1.26-99-1.06-117.73,0-.22,0-.42,0-.62h.62c9.29,0,40.62,0,41.42-.63.42-.35.42-25,.42-25C817.71,106.26,817.5,106.05,816.87,106.05Z"/><path class="cls-1" d="M687.5,219.12l-.33-113.28c0-.63-.63-.84-1.89-.84l-29.65-.21c-.84,0-1.26.42-1.26,1l.84,144.84a1.12,1.12,0,0,0,1.27,1.26l26.89-.08c3.62-.14,4.22.29,4.22-.76Z"/><path class="cls-6" d="M637.34,224.82c0-1-.63-1.68-2.31-1.47l-54.87.42s.42-108.68.42-115.2c0-3.36-.85-3.39-2.32-3.39l-28.37.24c-.84,0-1.47,1-1.47,2.31l.74,125.75.1,17.83c0,1.05.42,1.47,1.89,1.47l56.79-.14,25.83-.07c3.36,0,3.78-.63,3.78-1.89Z"/><path class="cls-6" d="M519.75,224.13l-.34-118.29c0-.63-.63-.84-1.89-.84-4.84,0-27.75-.21-29.64-.21-.84,0-1.26.42-1.26,1l.63,108,.21,36.88a1.11,1.11,0,0,0,1.26,1.26l26.81-.08c3.57,0,4.3.29,4.3-.76Z"/><path class="cls-6" d="M462.44,188.88c-1.89-5.47-2.94-6.52-6.94-8-15.34-5.68-49.4-17.45-69.79-23.76,0,0,.42-18.5.63-25.43l44.57.84.21,23.75a1.18,1.18,0,0,0,1.26,1.05c9.67.21,20.81,1.27,29,1.27,1.68,0,2.31-.63,2.31-2.32,0-9.88-3.57-38.68-19.55-48.77a16.88,16.88,0,0,0-8.41-2.94c-3.57,0-46.24.21-53,.21a8.6,8.6,0,0,0-4.63,1.26c-11.14,5.89-23.75,28.8-23.75,49.61,0,7.07.69,12.75,2.08,16.56.14.39.29.75.44,1.1,1.26,2.73,1.68,3.58,7.57,6.1,26.28,11.14,46.67,15.76,66.85,23.33l-.84,23.34L387,225.67l-.63-22.92c0-.84-.21-1.26-1.26-1.26-1.89,0-26.91-.63-29.85-.63-1.05,0-1.47.84-1.47,4.83,0,14.72,8,35.95,22.49,45.2,3.36,2.1,5.05,2.31,8.62,2.31,8.62,0,50.66-.63,53.4-.63,5.25,0,7.14-1.26,12.82-7.56,8.57-9.51,12-22.64,12.69-38.67q.14-3.09.13-6.32A43.72,43.72,0,0,0,462.44,188.88Z"/><path class="cls-6" d="M272.82,133.17c17,.42,41.62.42,60.33.21a1,1,0,0,0,1.05-1L334,106.05c-.21-1-.84-1.26-1.89-1.26l-89.13.42c-1.05.21-1.26,1.26-1.26,2.52,0,1-.1,12.12-.25,27.92-.31,34.1-.8,90-.8,113.14,0,1.89.42,3.15,2.1,3.15,19.34,0,78.41.84,87.66,0,2.73-.21,2.38-.89,2.38-2.79,0-3.57.35-20.12-.07-22.85-.21-1.69-.84-2.11-2.73-2.11H271.77l-.21-32.79,61,1.26c1.26,0,1.2-.82,1.2-2.5,0-5.89-.15-18.1-.36-21.67-.14-2.43-.38-3.5-1-3.93l-.84-.27h-.28l-58.86-.63.25-18.08Z"/><path d="M332.38,164.56l-.84-.27A1.5,1.5,0,0,1,332.38,164.56Z"/><path class="cls-6" d="M222.37,251.52c-6.1-10.09-27.75-38.89-38.27-54.44,26.28-10.94,36.58-25.23,36.58-46.88a53,53,0,0,0-4.8-22.68,43.2,43.2,0,0,0-18.32-19.79,12.74,12.74,0,0,0-5.47-1.68c-5.42-.56-26.5-.64-45.37-.52-16.25.09-30.86.33-32.41.52-.84,0-1,1-1,2.31,0,15.35-1.05,121.72-1.05,143.16,0,.63.21.84,1.26,1,1.28.15,24.35.18,28.59,0,2.11-.08,2.52-.84,2.52-1.68-.84-15.34-.42-50.24-.63-62,10.3,15.76,33.43,49.4,41.42,62.85.84,1.26,1.26,1.47,2.52,1.47,8.83,0,29.85-.21,32.37-.21C222.58,253,223.21,252.78,222.37,251.52Zm-78.63-78.2V131.49c3.89,0,42.69.37,45.41.42,0,2.63-.66,37.85-.63,41.62C183.53,173.53,149.84,172.9,143.74,173.32Z"/><path class="cls-8" d="M121.83,76c0,.48-.3.75-.82.75H119.5c-.53,0-.82-.27-.82-.75V73.09l-.66-.6h-1.15l-.66.6v6.46l.66.6h2.49a1.37,1.37,0,0,1,1,.39l1.12,1a1.2,1.2,0,0,1,.42.94v8.14a1.2,1.2,0,0,1-.42.94l-1.12,1a1.37,1.37,0,0,1-1,.39h-3.8a1.39,1.39,0,0,1-1-.39l-1.12-1a1.2,1.2,0,0,1-.42-.94v-3.5c0-.48.29-.75.82-.75h1.51c.52,0,.82.27.82.75V90l.65.6h1.32l.65-.6V83.22l-.65-.6h-2.5a1.4,1.4,0,0,1-1-.39l-1.11-1a1.14,1.14,0,0,1-.43-.93V72.43a1.18,1.18,0,0,1,.43-.94l1.11-1a1.4,1.4,0,0,1,1-.39h3.65a1.36,1.36,0,0,1,1,.39l1.12,1a1.21,1.21,0,0,1,.43.94Z"/><path class="cls-8" d="M126.65,92.24c0,.48-.29.75-.82.75h-1.21c-.53,0-.82-.27-.82-.75V70.83c0-.48.29-.75.82-.75h1.83c.53,0,.83.21.92.66L130.82,86V70.83c0-.48.3-.75.82-.75h1.21c.53,0,.83.27.83.75V92.24c0,.48-.3.75-.83.75H131a.81.81,0,0,1-.92-.66l-3.45-15Z"/><path class="cls-8" d="M139,92.24c0,.48-.29.75-.82.75h-1.51c-.52,0-.82-.27-.82-.75V70.83c0-.48.3-.75.82-.75h1.51c.53,0,.82.27.82.75Z"/><path class="cls-8" d="M143.62,93a1.4,1.4,0,0,1-1-.39l-1.11-1a1.18,1.18,0,0,1-.43-.94V72.43a1.18,1.18,0,0,1,.43-.94l1.11-1a1.4,1.4,0,0,1,1-.39h3.68a1.4,1.4,0,0,1,1,.39l1.11,1a1.18,1.18,0,0,1,.43.94v3.86c0,.48-.3.75-.82.75h-1.51c-.53,0-.82-.27-.82-.75v-3.2l-.66-.6h-1.18l-.66.6V89.92l.66.6h1.18l.66-.6V86.75c0-.48.29-.75.82-.75H149c.52,0,.82.27.82.75v3.89a1.18,1.18,0,0,1-.43.94l-1.11,1a1.4,1.4,0,0,1-1,.39Z"/><path class="cls-8" d="M160.07,92.24c0,.48-.3.75-.82.75h-1.51c-.53,0-.82-.27-.82-.75V70.83c0-.48.29-.75.82-.75h5.71a1.36,1.36,0,0,1,1,.39l1.12,1a1.18,1.18,0,0,1,.43.94v9a1.15,1.15,0,0,1-.43.94l-1.12,1a1.33,1.33,0,0,1-1,.4h-3.38Zm2.79-11.43V73.09l-.66-.6h-2.13v8.92h2.13Z"/><path class="cls-8" d="M170.83,92.24c0,.48-.29.75-.82.75H168.5c-.52,0-.82-.27-.82-.75V70.83c0-.48.3-.75.82-.75h5.88a1.36,1.36,0,0,1,1,.39l1.12,1a1.18,1.18,0,0,1,.43.94v8.44a1.16,1.16,0,0,1-.43.94L175.2,83l1.8,9.17c.1.51-.16.81-.75.81h-1.38a.8.8,0,0,1-.89-.69l-1.8-9.08h-1.35Zm3-12V73.09l-.66-.6h-2.3v8.38h2.3Z"/><path class="cls-8" d="M187,92.24c0,.48-.29.75-.82.75H180c-.52,0-.82-.27-.82-.75V70.83c0-.48.3-.75.82-.75h6.14c.52,0,.82.27.82.75v1c0,.48-.3.75-.82.75h-3.81v7.6h3.22c.52,0,.82.27.82.75v1c0,.48-.3.75-.82.75h-3.22v7.9h3.87c.53,0,.82.27.82.75Z"/><path class="cls-8" d="M197,76c0,.48-.3.75-.82.75H194.7c-.53,0-.82-.27-.82-.75V73.09l-.66-.6h-1.15l-.66.6v6.46l.66.6h2.5a1.36,1.36,0,0,1,1,.39l1.12,1a1.21,1.21,0,0,1,.43.94v8.14a1.21,1.21,0,0,1-.43.94l-1.12,1a1.36,1.36,0,0,1-1,.39h-3.81a1.39,1.39,0,0,1-1-.39l-1.11-1a1.18,1.18,0,0,1-.43-.94v-3.5c0-.48.29-.75.82-.75h1.51c.52,0,.82.27.82.75V90l.66.6h1.31L194,90V83.22l-.65-.6h-2.5a1.36,1.36,0,0,1-1-.39l-1.12-1a1.14,1.14,0,0,1-.43-.93V72.43a1.18,1.18,0,0,1,.43-.94l1.12-1a1.36,1.36,0,0,1,1-.39h3.65a1.36,1.36,0,0,1,1,.39l1.12,1a1.18,1.18,0,0,1,.43.94Z"/><path class="cls-8" d="M206.84,92.24c0,.48-.29.75-.82.75h-6.2c-.53,0-.82-.27-.82-.75V70.83c0-.48.29-.75.82-.75H206c.53,0,.83.27.83.75v1c0,.48-.3.75-.83.75h-3.8v7.6h3.21c.53,0,.82.27.82.75v1c0,.48-.29.75-.82.75h-3.21v7.9H206c.53,0,.82.27.82.75Z"/><path class="cls-8" d="M211.37,92.24c0,.48-.29.75-.82.75h-1.21c-.53,0-.82-.27-.82-.75V70.83c0-.48.29-.75.82-.75h1.83c.53,0,.83.21.92.66L215.54,86V70.83c0-.48.3-.75.82-.75h1.21c.53,0,.83.27.83.75V92.24c0,.48-.3.75-.83.75h-1.83a.81.81,0,0,1-.92-.66l-3.45-15Z"/><path class="cls-8" d="M228.08,70.08c.52,0,.82.27.82.75v.91c0,.48-.3.75-.82.75h-2.17V92.24c0,.48-.29.75-.82.75h-1.51c-.52,0-.82-.27-.82-.75V72.49H220.6c-.53,0-.83-.27-.83-.75v-.91c0-.48.3-.75.83-.75Z"/><path class="cls-8" d="M238.68,76c0,.48-.29.75-.82.75h-1.51c-.52,0-.82-.27-.82-.75V73.09l-.66-.6h-1.14l-.66.6v6.46l.66.6h2.49a1.39,1.39,0,0,1,1,.39l1.11,1a1.18,1.18,0,0,1,.43.94v8.14a1.18,1.18,0,0,1-.43.94l-1.11,1a1.39,1.39,0,0,1-1,.39h-3.81a1.4,1.4,0,0,1-1-.39l-1.11-1a1.18,1.18,0,0,1-.43-.94v-3.5c0-.48.3-.75.82-.75h1.51c.53,0,.82.27.82.75V90l.66.6H235l.66-.6V83.22l-.66-.6h-2.49a1.39,1.39,0,0,1-1-.39l-1.12-1a1.17,1.17,0,0,1-.42-.93V72.43a1.2,1.2,0,0,1,.42-.94l1.12-1a1.39,1.39,0,0,1,1-.39h3.64a1.39,1.39,0,0,1,1,.39l1.12,1a1.2,1.2,0,0,1,.42.94Z"/><path class="cls-8" d="M243.11,80.33c.53,0,.82.27.82.75v2.41c0,.49-.29.76-.82.76h-1.64a.72.72,0,0,1-.82-.76V81.08c0-.48.3-.75.82-.75Zm0,8.74c.53,0,.82.27.82.76v2.41c0,.48-.29.75-.82.75h-1.64c-.52,0-.82-.27-.82-.75V89.83a.72.72,0,0,1,.82-.76Z"/></symbol></defs><title>Asset 1LeafLogo</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><use width="817.71" height="255.38" xlink:href="#LogoDark"/></g></g></svg>
      div(class="main__area--date")
        p 26 November 2019
        div()
          a(onclick="openCalendar()"): img(src='images/calendar.png')
      //- div()
      //-   a(href="/register")
      //-     div(class="register-button") REGISTER
      //- a( style="color: white;")
      //-   i(href="#intro" class="arrow").fa.fa-angle-down.fa-5x.white

      i(href="#intro" id="main_scroll" class="scroll__down" address="true")

      div(class="homepage-sponsor-banner")
        a(href="https://nedap.com/", target="_blank")
          img(class="homepage-sponsor-logo main-sponsor" src='/images/partners/logo_NEDAP_hero_rgb.png')
        a(href="https://quintor.nl/", target="_blank")
          img(class="homepage-sponsor-logo" src='/images/partners/logo_Quintor.jpg')
        a(href="https://topicus.com/", target="_blank")
          img(class="homepage-sponsor-logo" src='/images/partners/logo_Topicus.png')
        a(href="https://ing.nl/", target="_blank")
          img(class="homepage-sponsor-logo" src='/images/partners/logo_ING.jpg')
        a.nedap(href="https://www.ortec.com/", target="_blank")
          img.nedap(class='homepage-sponsor-logo', src='/images/partners/logo_ORTEC_oyw.png')
        a.nedap(href="https://www.dsw.nl/", target="_blank")
          img.nedap(class='homepage-sponsor-logo', src='/images/partners/logo_DSW.png')
        a.nedap(href="https://www.chipsoft.com/", target="_blank")
          img.nedap(class='homepage-sponsor-logo', src='/images/partners/logo_Chipsoft.jpg')
        a.nedap(href="http://thalescareers.nl", target="_blank")
          img.nedap(class='homepage-sponsor-logo', src='/images/partners/logo_Thales.jpg')
        a.nedap(href="https://www.dnb.nl/", target="_blank")
          img.nedap(class='homepage-sponsor-logo', src='/images/partners/logo_DNB.jpg')
        a(href="https://asml.com/", target="_blank")
          img(class="homepage-sponsor-logo" src='/images/partners/logo_ASML.jpg')

        div(id="silver_logo_container")
          img(id="silver_logos" class="homepage-sponsor-logo")

        div(id="bronze_logo_container")
          img(id="bronze_logos" class="homepage-sponsor-logo")

block content
  // Short summary
  header(id='particles-js-light' class='particles')
  div(class="line-background")
  section(id="intro" class='intro slanted')
    .content
      h2 Theme
      p
        | The theme of this year's conference is #[span(class="accent") ResilIT]:
        | the impact of IT in preservation and recuperation of our society.
        | During the past decennia humanity has made huge advancements and is
        | slowly moving towards what researchers have dubbed #[span(class="accent") "Society 4.0"].
        | However, how do we keep this society intact and how can we recover from
        | disruptive events?

      p
        | With an increase in population size and
        | complex IT systems, the state of our society is becoming increasingly #[span(class="accent") fragile].
        | This has created the important but difficult task of maintaining the environment
        | we have created. The congress will investigate different areas of this problem
        | including disaster management, cyber threat management and in general at Society 4.0.
        | With varying talks, the aim of ResilIT is to inspire visitors to rethink how fragile
        | their position in the world is and how IT can be used to improve the safety of our society.

  div(class="container__styler pane__variance tertiary")

  section(class='')
    div(id="speakers" class="skew-content")
      section#speakers.slanted.twocolumn
        .subpage(class="location-content primary")
          .content(style="transform: skewY(-5deg);")
            div(class="header-title" style="text-align: left; padding-left: 10px;") Speakers
            div(class="speakers" style="float: left; text-align: left;")
              p
                | What problems are we facing as the society of #[span(class="accent") tomorrow]?
                | How will IT impact the way in which we preserve society and
                | recover from disasters?
                | These questions will be answered by #[span(class="accent-logo") ResilIT]. <br><br>
                | Academics, businesses and even stand-alone activists will present
                | the problems they see for #[span(class="accent") society] and the role that IT
                | will play in making our society more #[span(class="accent") resilient] for the future. <br> <br>
                | Aside from the three keynote speakers there are three tracks to choose talks from
                | in order to find a schedule that interests you the most.
              a(href="/speakers", style="text-decoration:none")
                div(class="announcement__box")
                  i(class="fas fa-user-friends")
                  p The current speaker list
        .subpage.image


  section#partner(class='intro slanted')
      .content(style='padding-top: 3rem;')
        div(class="header-title") Partners
        p
          | For ResilIT, we partnered up with top IT companies that have customers
          | from all around the world. The conference gives a lot of opportunity
          | to get in touch with #[a(href="#partners") them] and meet up.
        a(href="/partners", style="text-decoration:none")
          div(class="announcement__box")
            i(class="fas fa-user-friends")
            p Company profiles

  div(class="container__styler pane__variance tertiary")

  section#location(class="skew-content slanted twocolumn" style="margin-bottom: -1px")
    .subpage(class="primary")
      .content(class="pane__undo__rotation")
        div(class="header-title") Location
        div(style="float: left; text-align: left;")
          a(href="https://www.google.nl/maps/dir/''/''/@52.1594761,5.3224785,12z/data=!4m9!4m8!1m0!1m5!1m1!1s0x47c646993f3fd3b5:0x95cf14e8afd6a6ed!2m2!1d5.392518!2d52.1594968!3e3", target="_blank",style="text-decoration:none")
            div(class="announcement__box")
              i(class="fas fa-map-marker-alt")
              p Flint Amersfoort
    .subpage.image

  div(style="position:relative;transform:skewY(5deg);overflow-y: hidden;")
    div(class="container__styler pane__variance1 tertiary")
    section(class='intro slanted pane__undo__rotation', id="about", style="margin-top: 5vh")
      .content
        h2 What is SNiC
        p
          | #[span(class="accent") SNiC] is an acronym for
          | Stichting Nationaal Informatica congres (Foundation National Computer Science Conference).
          | The organisation was established in #[span(class="accent") 2004]
          | with the purpose of stimulating the interest in IT knowledge,
          | IT applications and the business side of it. Every year,
          | a #[span(class="accent") conference] with an IT related subject
          | is organised for academic Computer Science students from all over the Netherlands.
          | For each conference one study association is chosen
          | to take care of the organisation. This year, the organisation is
          | in the hands of study assocation #[a(href='https://inter-actief.net/') #[b Inter-<i>Actief</i>]].

        <br>
        h2 Contact

        div#contact
          p
            b Email
            span.contact-entry
              a(href="mailto:committee@snic.nl") committee@snic.nl
          p
            b Phone
            span.contact-entry
              | (+31) (053) 489 3756
          p
            b Address
            span.contact-entry
              | Faculteit EWI
            span.contact-entry
              | Zilverling, room E208
            span.contact-entry
              | Drienerlolaan 5
            span.contact-entry
              | 7522 NB Enschede
            span.contact-entry
              | The Netherlands



