mixin showMessage(msg)
  if msg.startsWith('!safe:')
    | !{msg.substring(6)}
  else
    = msg

doctype html

html(lang=locale)
  head
    title #{title} ResilIT 2019
    meta(name='charset' content='utf-8')
    meta(name='description' content='')
    meta(name='author' content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
    link(rel="manifest", href="/site.webmanifest")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="msapplication-TileColor", content="#603cba")
    meta(name="theme-color", content="#ffffff")

    link(rel='stylesheet' href='/css/normalize.css')
    link(rel='stylesheet' href='/css/skeleton.css')
    link(rel='stylesheet' href='/css/skeleton-alerts.css')
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='/css/bootstrap-dropdown.css')
  body
    nav(class='navbar')
      // left-side logo
      .logonav
        a(href='/#home')
          img(src='/images/resilit_logo.png')

      button(id="navbarToggle" class='toggle navicon-button' data-target='#navbar-main-collapse')
        span(class='navicon navicon-times')

      if user
        // right side menu
        if user.admin
          ul(class='pages collapse' id='navbar-main-collapse')
            li()
              a(href='/#speakers') Speakers
            //- li()
            //-   a(href='/#program') Programme
            li
              a(href='/#partners') Partners
            li
              a(href='/#location') Location
            li
              a(href='/#about') About
            li
              .dropdown
                button.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                  | Profile
                  span.caret
                ul.dropdown-menu(aria-labelledby='dropdownMenu1')
                  li
                    a(href='/profile') Edit profile
                  li.divider(role='separator')
                  li
                    a(href='/users') Scan tickets
                  li
                    a(href='/choices') Session choices
                  li
                    a(href='/aanwezig') Attendees
                  li
                    a(href='/diet') Diets
                  li.divider(role='separator')
                  li
                    a(href='/speeddate') Speed date timeslots
                  li
                    a(href='/badge-scanning') Badge scanning
                  li.divider(role='separator')
                  li
                    a(href='/admin') Admin
                  //- li
                  //-   a(href='/reload') Reload speakers
                  li.divider(role='separator')
                  li
                    a(href='logout') Logout
        else
          ul(class='pages collapse' id='navbar-main-collapse')
            li()
              a(href='/#speakers') Speakers
            //- li
            //-   a(href='/#program') Programme
            li
              a(href='/#partners') Partners
            li
              a(href='/#location') Location
            li
              a(href='/#about') About
            li
              .dropdown
                button.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                  | Profile
                  span.caret
                ul.dropdown-menu(aria-labelledby='dropdownMenu1')
                  li
                    a(href='/profile') Edit profile
                  li.divider(role='separator')
                  li
                    a(href='logout') Logout
      else
        ul(class='pages collapse' id='navbar-main-collapse')
          li
            a(href='/#speakers') Speakers
          //- li
          //-   a(href='#program') Programme
          li
            a(href='/#partners') Partners
          li
            a(href='/#location') Location
          li
            a(href='/#about') About
          //li
            a(href='/register') Activate
          li
            a(href='/login') Log In

    // header
    block header

    // Error messages and stuff
    block above-content

    .container
      .row
        .offset-by-three.six.columns
          if messages.error
            each msg in messages.error
              .alert.alert-danger.alert-dismissable
                +showMessage(msg)
                a.close(href='#', data-dismiss='alert', aria-label='close') &times;

          if messages.info
            each msg in messages.info
              .alert.alert-info.alert-dismissable
                +showMessage(msg)
                a.close(href='#', data-dismiss='alert', aria-label='close') &times;

          if messages.success
            each msg in messages.success
              .alert.alert-success.alert-dismissable
                +showMessage(msg)
                a.close(href='#', data-dismiss='alert', aria-label='close') &times;

          if messages.warning
            each msg in messages.warning
              .alert.alert-warning.alert-dismissable
                +showMessage(msg)
                a.close(href='#', data-dismiss='alert', aria-label='close') &times;

    // content of the page
    block content

    // Footer
    footer(id="partners")
      .sponsor
          .separator(role='separator', style="width: 100%")
      h2(style="text-align:center;") 2019 partners
      p
        | Interested in becoming a partner or speaker?
        |#[a(href="mailto:commissie@snic.nl?subject=SNiC%20Partnership") #[b Contact us]] for details.
      .sponsor
        p(style="margin-top: 4rem;") Platinum
        a.nedap(href="https://nedap.com/", target="_blank")
          img.nedap(src='/images/partners/logo_NEDAP_hero_rgb.png')
      .sponsor
        .separator(role='separator')
      .sponsor
        p Gold
        div(class="silver-sponsors")
          a.nedap(href="https://quintor.nl/", target="_blank")
            img.nedap(class='footer-sponsors', src='/images/partners/logo_Quintor.jpg')
      .sponsor
        .separator(role='separator')
      .sponsor
        p Silver
        div(class="silver-sponsors")
          a.nedap(href="https://www.ortec.nl/", target="_blank")
            img.nedap(class='footer-sponsors', src='/images/partners/logo_ORTEC_oyw.png')
      //- .sponsor
      //-   .separator(role='separator')
      //- .sponsor
      //-   p Bronze
      //-   div(class="silver-sponsors")
      //-     a.nedap(href="", target="_blank")
      //-         img.nedap(class='footer-sponsors', src='')
      //-     a.nedap(href="https://www.asml.com/asml/en/s427", target="_blank")
      //-       img.nedap(class='footer-sponsors', src='/images/snic_sponsor_logo/Logo_ASML.png')
      //-     a.nedap(href="https://belsimpel.nl/", target="_blank")
      //-       img.nedap(class='footer-sponsors', src='/images/snic_sponsor_logo/Logo_Belsimpel.png')
      //-     a.nedap(href="", target="_blank")
      //-       img.nedap(class='footer-sponsors', src='')

    // Scripts
    script(src='//code.jquery.com/jquery-3.2.1.min.js' integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=' crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
    //script(src='/js/jQuery.curtail.min.js')
    script(src='/js/particles.js')
    script(src='/js/app.js')

    // For extra footer stuff
    block footer
