extends layout

block header
  header.text
    h2 Speeddate timeslots

block content
  section.speeddate

    #speeddate-table.offset-by-three.six.columns
      table.speeddate.table
        thead
          th Slot
          th Total capacity
          th Registered users
          th Has free spots
          th Users
        tbody
          for row in timeslots
            tr
              td.row-header.slot=row.name
              td.row-header=row.capacity
              td.row-header=row.usersRegistered.length
              td.row-header
                if row.usersRegistered.length == row.capacity
                  span.fa.fa-close(style='color:#bf464c;')
                else
                  span.fa.fa-check(style='color:#79bf46;')
              td.row-header
              td.row-header
                a.button.button-small(href='/speeddate/remove/' + row.id) X
            tr
              td
              td
              td
              td
              td
                ul
                  for user in row.usersRegistered
                    li
                      a(href='/users/' + user.id)=user.firstname + ' ' + user.surname


      a.button.button-primary(href='/speeddate/export-csv/') Export CSV

      h2(style="margin-top:2em;")
          | Add speeddate time slots

      form(method='POST', action='/speeddate')
          .row
              .ten.columns
                  .form-group
                      label(for='startTime') startTime
                      input#ticketCode.form-control(type='time',name='startTime', step='1', min='9:00', max='20:00')

                  .form-group
                      label(for='endTime') endTime
                      input#ticketCode.form-control(type='time',name='endTime', step='1', min='9:00', max='20:00')

                  .form-group
                      label(for='capacity') capacity
                      input#ticketCode.form-control(type='number',name='capacity', value=0)

              .two.columns
                  button.button.special(type='submit') Create
