.container__styler {
  position: absolute;
  left: 30vw;
  width: 70vw;
  height: calc(100px + 5vw);
  transform: skewY(-4deg);
  overflow: visible;
}

.pane__undo__rotation {
  transform: skewY(-5deg);
}

.pane__variance {
  // left: 30vw;
  transform: skewY(-6deg);
  // width: 130vw;
}

.pane__variance1 {
  left: -40vw;
  transform: skewY(-30deg);
  width: 90vw;
  top: -10vw;
  height: 30vw;
  z-index: -1;
}

.primary {
  background: $primary-color;
  color: white;
}

.secondary {
  background: $secondary-color;
  color: white;
}

.tertiary {
  background: $tertiary-color;
  color: white;
}

.silver-plus {
  margin-bottom: 10vh;
}

.speaker-image {
  max-height: 500px;
  width: auto;
  max-width: 100%;
  margin-bottom: 5em;
}

.speaker-image-multiple {
  @extend .speaker-image;
  margin-left: 5px;
  margin-right: 5px;
  display: inline !important;
  padding-right: 10px;
}

.speaker-image-container {
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.keynote {
  flex: 100%;
}

@-webkit-keyframes shadow-inset-center {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: inset 0 0 6px 0px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 6px 0px rgba(0, 0, 0, 0.5);
  }
}
@keyframes shadow-inset-center {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: inset 0 0 6px 0px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 6px 0px rgba(0, 0, 0, 0.5);
  }
}

@-webkit-keyframes shadow-inset-center-out {
  0% {
    -webkit-box-shadow: inset 0 0 6px 0px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 6px 0px rgba(0, 0, 0, 0.5);
  }
  100% {
    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes shadow-inset-center-out {
  0% {
    -webkit-box-shadow: inset 0 0 6px 0px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 6px 0px rgba(0, 0, 0, 0.5);
  }
  100% {
    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

#program-table {
  border: 2px solid #00000022;

  .talk-column:hover {
    background: white;
    animation-direction: normal;
    -webkit-animation: shadow-inset-center 0.2s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: shadow-inset-center 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
  }

  .talk-column {
    text-align: center;
    width: 35vw;
    min-width: 150px;
    cursor: pointer;
    animation-direction: reverse;
    -webkit-animation: shadow-inset-center-out 0.4s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: shadow-inset-center-out 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
  }
}

#program-table td {
  padding: 0.5em !important;
}

#program-table th {
  padding: 1em;
}

// todo: remove
table tr td:nth-child(2) {
  background-color: #f6f6f6;
}

// todo: remove
table tr td:nth-child(4) {
  background-color: #f6f6f6;
}

.table-responsive {
  margin: 1em;
}

.program-table {
  // margin-top: 3em;
  margin-bottom: 3em;
  overflow-x: hidden !important;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  .close {
    color: white;
  }
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  h2 {
    margin: 5px auto;
  }
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
  margin: 16px auto;
  overflow: hidden;
  display: flex;

  height: auto;

  #ModalContent {
    margin-left: 5vw;
    overflow: hidden;
    transition: height 0.3s ease-out;
  }

  .speaker-info {
    margin-right: 5px;

    .speaker-image {
      width: 20vw;
      min-width: 50px;
      max-width: 150px;
      height: auto;
      margin: initial;
    }

    .speaker-button {
      width: -webkit-fill-available;
    }
  }
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h5 {
    margin-bottom: initial;
  }

  /* Take care of the favorite button */
  #favorite-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    label {
      margin-bottom: initial;
    }

    svg {
      cursor: pointer;
      overflow: visible;
      width: 60px;
      #heart {
        transform-origin: center;
        animation: animateHeartOut 0.3s linear forwards;
      }
      #main-circ {
        transform-origin: 29.5px 29.5px;
      }
    }

    #favorite-checkbox {
      display: none;
    }

    #favorite-checkbox:checked + label svg {
      #heart {
        transform: scale(0.2);
        fill: #e2264d;
        animation: animateHeart 0.3s linear forwards 0.25s;
      }
      #main-circ {
        transition: all 2s;
        animation: animateCircle 0.3s linear forwards;
        opacity: 1;
      }
      #grp1 {
        opacity: 1;
        transition: 0.1s all 0.3s;
        #oval1 {
          transform: scale(0) translate(0, -30px);
          transform-origin: 0 0 0;
          transition: 0.5s transform 0.3s;
        }
        #oval2 {
          transform: scale(0) translate(10px, -50px);
          transform-origin: 0 0 0;
          transition: 1.5s transform 0.3s;
        }
      }
      #grp2 {
        opacity: 1;
        transition: 0.1s all 0.3s;
        #oval1 {
          transform: scale(0) translate(30px, -15px);
          transform-origin: 0 0 0;
          transition: 0.5s transform 0.3s;
        }
        #oval2 {
          transform: scale(0) translate(60px, -15px);
          transform-origin: 0 0 0;
          transition: 1.5s transform 0.3s;
        }
      }
      #grp3 {
        opacity: 1;
        transition: 0.1s all 0.3s;
        #oval1 {
          transform: scale(0) translate(30px, 0px);
          transform-origin: 0 0 0;
          transition: 0.5s transform 0.3s;
        }
        #oval2 {
          transform: scale(0) translate(60px, 10px);
          transform-origin: 0 0 0;
          transition: 1.5s transform 0.3s;
        }
      }
      #grp4 {
        opacity: 1;
        transition: 0.1s all 0.3s;
        #oval1 {
          transform: scale(0) translate(30px, 15px);
          transform-origin: 0 0 0;
          transition: 0.5s transform 0.3s;
        }
        #oval2 {
          transform: scale(0) translate(40px, 50px);
          transform-origin: 0 0 0;
          transition: 1.5s transform 0.3s;
        }
      }
      #grp5 {
        opacity: 1;
        transition: 0.1s all 0.3s;
        #oval1 {
          transform: scale(0) translate(-10px, 20px);
          transform-origin: 0 0 0;
          transition: 0.5s transform 0.3s;
        }
        #oval2 {
          transform: scale(0) translate(-60px, 30px);
          transform-origin: 0 0 0;
          transition: 1.5s transform 0.3s;
        }
      }
      #grp6 {
        opacity: 1;
        transition: 0.1s all 0.3s;
        #oval1 {
          transform: scale(0) translate(-30px, 0px);
          transform-origin: 0 0 0;
          transition: 0.5s transform 0.3s;
        }
        #oval2 {
          transform: scale(0) translate(-60px, -5px);
          transform-origin: 0 0 0;
          transition: 1.5s transform 0.3s;
        }
      }
      #grp7 {
        opacity: 1;
        transition: 0.1s all 0.3s;
        #oval1 {
          transform: scale(0) translate(-30px, -15px);
          transform-origin: 0 0 0;
          transition: 0.5s transform 0.3s;
        }
        #oval2 {
          transform: scale(0) translate(-55px, -30px);
          transform-origin: 0 0 0;
          transition: 1.5s transform 0.3s;
        }
      }
      #grp2 {
        opacity: 1;
        transition: 0.1s opacity 0.3s;
      }
      #grp3 {
        opacity: 1;
        transition: 0.1s opacity 0.3s;
      }
      #grp4 {
        opacity: 1;
        transition: 0.1s opacity 0.3s;
      }
      #grp5 {
        opacity: 1;
        transition: 0.1s opacity 0.3s;
      }
      #grp6 {
        opacity: 1;
        transition: 0.1s opacity 0.3s;
      }
      #grp7 {
        opacity: 1;
        transition: 0.1s opacity 0.3s;
      }
    }
  }
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  margin: 15% auto; /* 15% from the top and centered */
  margin-top: 60px;

  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 3em;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

@keyframes animateCircle {
  40% {
    transform: scale(10);
    opacity: 1;
    fill: #dd4688;
  }
  55% {
    transform: scale(11);
    opacity: 1;
    fill: #d46abf;
  }
  65% {
    transform: scale(12);
    opacity: 1;
    fill: #cc8ef5;
  }
  75% {
    transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.5;
  }
  85% {
    transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.2;
  }
  95% {
    transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.1;
  }
  100% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0;
  }
}

@keyframes animateHeart {
  0% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animateHeartOut {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.accent {
  font-family: "TruenoRegular" !important;
  font-size: 2.25rem;
  font-weight: normal;
}

.accent-logo {
  font-family: "TruenoRegular" !important;
  font-size: 2.25rem;
  font-weight: normal;
  text-transform: none;
}

.congres-bg {
  background-color: $congres-color;
}

.skew-content {
  transform: skewY(5deg);
  overflow: hidden !important;
  margin: -1px;
  margin-bottom: 5vh;
  .speakers {
    font-weight: 100;
    margin: 0;
    font-size: 1.75rem;
    margin-bottom: 4em;
  }

  .location {
    margin-bottom: 0;
  }
}

.text-content {
  margin-left: 20px;
  color: white;
  transform: skewY(-5deg);
}

.speaker-img {
  position: absolute;
  top: 0;
  height: 100vh;
}

.header-title {
  font-size: 4.2rem;
  margin-bottom: 0.5em;
  text-align: center;

  @media (min-width: 750px) {
    margin-bottom: 1em;
  }
}

.skewed-background {
  height: 200px;
  -webkit-clip-path: polygon(49% 0, 100% 50%, 100% 100%, 0 49%);
  clip-path: polygon(49% 0, 100% 50%, 100% 100%, 0 49%);
}

.skewed-background-2 {
  position: absolute;
  width: 100%;
  // -webkit-clip-path: polygon(49% 0, 100% 50%, 100% 100%, 0 49%);
  clip-path: polygon(50% 0, 100% 0%, 100% 50%, 50% 0%);
}

.particles canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.singularit-logo {
}
.singularit-logo img {
  width: 100px;
}

.register-button {
  margin: auto;
  width: 50%;
  text-align: center;
  border: 2px solid white;
  padding: 10px;
  font-size: 1.25rem;
  margin-bottom: 50px;
  color: white;
  text-decoration: none;
}

.silver-sponsors {
  display: flex;
}

.homepage-sponsor-banner {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

// .skewed-background-2 {
//   width: 0;
// height: 0;
// border-style: solid;
// border-width: 20vh 85vh 0 85vh;
// border-color: $congres-color transparent transparent;
//
// }

.homepage-sponsor-banner {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.homepage-sponsor-logo {
  flex: 1;
  max-height: 100px;
  max-width: 100px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 1);
}
.main-sponsor {
  background-color: transparent;
}

#silver_logo_container {
  display: none !important;
}

@media (max-width: 1200px) {
  .program-tracks {
    display: none;
  }

  .timetable .session {
    flex: 100%;
  }
}

@media (max-width: 700px) {
  body {
    overflow: none;
  }

  .homepage-sponsor-logo {
    display: none;
    text-align: center;
    width: 100px;
    height: auto;

    height: 100%;
    flex: 1 0 21%;
  }

  .main-sponsor {
    display: inline;
    height: auto;
  }

  h1 {
    font-size: 2.5rem !important;
  }

  p {
    font-size: 1.25rem !important;
    padding-left: 10px;
    padding-right: 10px;
  }

  .skewed-background-2 {
    display: none;
  }

  .silver-sponsors {
    flex-direction: column;
  }

  #silver_logo_container {
    display: inline !important;
  }

  .program-table {
    overflow-x: auto !important;
  }
  #program-table th {
    padding: 0;
  }
}

.direction-img {
  height: 2em;
}

.directions {
  text-transform: none;
  text-decoration: none;
  color: white;
  padding: 2em;
}

#speaker-table {
  margin: 4em;
}

#program-table {
  width: 100%;
}

.speaker-page-p {
  line-height: 25px;
  text-transform: none;
  font-size: 1.5rem;
}

.session {
  text-align: center;
}

.partner-logo {
  max-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px 20px 20px;

  img {
    max-width: 100%;
  }
}

/* Fixes Google Charts tooltip flickering */
svg > g > g:last-child {
  pointer-events: none;
}
