
/****************************
* Index
****************************/


.main__logo {
    width: 100%;
    max-width: 800px;
    min-width: 60vw;
    display:inline-block;
    margin: 0 auto;
    text-align: center;
    pointer-events: none;
}

.main__area--date {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    padding: 0.5rem;
    margin-top: 5vh;
    align-items: center;

    p {
        color: red;
        margin: 0.5rem;
        max-width: 50vw;
        font-size: 3rem;
        font-weight: bold;
        color: $secondary-color;
        background: -webkit-linear-gradient(30deg, $primary-color, $secondary-color);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: default;
        line-height: 4rem;

        @media (max-width: 700px) {
            font-size: 2rem !important;
        }

        @media (max-width: 400px) {
            font-size: 1.5rem !important;
        }
    }

    img {
        margin: 0.5rem;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
    }
}

.scroll__down {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #FFF;
    background-size: 16px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    -moz-animation: bounce 2s infinite 2s;
    -o-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
    cursor: pointer;

    @media (max-width: 700px) {
        bottom: 14vh;
    }
    @media (min-width: 700px) {
        bottom: -50px;
        position: relative;
        left: 0px;
    }
  }

  .scroll__down:before {
    position: absolute;
    top: calc(50% - 9px);
    left: calc(50% - 7px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
  }

  @keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    60% {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }

section#speakers {
    background-color: $congres-color;
}

section#speakers .subpage.image {
    background-image: url('/images/20161115-IMG_8885.jpg');
    background-position: center 80%;
}

section#location .subpage.image{
    background-image: url('/images/philharmonie.png');
    background-position: center 50%;
    transform: skewY(-5deg);
}

section#location .content {
    transform: skewY(-5deg);
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 6rem;
}

section#location .announcement__box {
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 0.5rem white solid;
    border-radius: 1rem;
    margin: 0 auto;

    * {
        margin: 1rem 0.5rem;
        font-size: 2rem;
    }
}


section#snic .subpage.image{
    background-image: url('/images/foto_kijken.jpg');
    background-position: right 20%;
}


.video{
    position: relative;
    min-height: 70vh;

    padding: 8em 2em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('/images/fotozaal.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    color: white;
    opacity: .9;
}

.video::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: $congres-color-transparent;
}

.youtube{
    text-align: center;
    width: 100%;
    position: relative;
    color: white;
}

.youtube a,
.youtube a:visited,
.youtube a:hover,
.youtube a:focus{
    color: white;
}

.youtube a:hover,
.youtube a:focus{
    opacity: 0.8;
}
