
/****************************
* Index
****************************/


.main__logo {
    width: 100%;
    max-width: 800px;
    min-width: 60vw;
    display:inline-block;
    margin: 0 auto;
    text-align: center;
    pointer-events: none;
}

.main__area--date {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    padding: 0.5rem;
    margin-top: 5vh;
    align-items: center;

    p {
        color: red;
        margin: 0.5rem;
        max-width: 50vw;
        font-size: 3rem;
        font-weight: bold;
        color: $secondary-color;
        background: -webkit-linear-gradient(30deg, $primary-color, $secondary-color);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: default;
    }

    img {
        margin: 0.5rem;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
    }
}

section#speakers {
    background-color: $congres-color;
}

section#speakers .subpage.image {
    background-image: url('/images/20161115-IMG_8885.jpg');
    background-position: center 80%;
}

section#location .subpage.image{
    background-image: url('/images/philharmonie.png');
    background-position: center 50%;
    transform: skewY(-5deg);
}


section#snic .subpage.image{
    background-image: url('/images/foto_kijken.jpg');
    background-position: right 20%;
}


.video{
    position: relative;
    min-height: 70vh;

    padding: 8em 2em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('/images/fotozaal.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    color: white;
    opacity: .9;
}

.video::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: $congres-color-transparent;
}

.youtube{
    text-align: center;
    width: 100%;
    position: relative;
    color: white;
}

.youtube a,
.youtube a:visited,
.youtube a:hover,
.youtube a:focus{
    color: white;
}

.youtube a:hover,
.youtube a:focus{
    opacity: 0.8;
}
