extends ../layout

block above-content

block header
  header.hero.dsw
    h2 Optimal service by building our own systems
block content
  section.intro.slanted
    .content
      .partner-logo
        img(src='/images/snic_sponsor_logo/Logo_DSW.png')
      h2 Our IT
      p At our IT-department, we value direct contact, technical challenges and a friendly atmosphere. We explicitly say our IT: almost all of our applications are built in-house. You might wonder why. Well, we are a health insurance company and therefore we must keep up with the wishes of our end-users and implement changes in law and regulations. Also, we enjoy keeping up with the latest technical developments and keeping matters in our own hands.

      h3 Ambiance
      p Working agile in small teams while being part of a large and innovative IT-department. All trainees start their career with an extensive program: learning C#, SQL and getting to know scrum. Afterwards they join a scrum team in which they are guided by experienced developers. We also warmly invite everyone to attend various social activities, like: gamenights, skiing trips, monthly drinks, running events and open mic nights.

      h3 Beta
      p A study in Computer Science is probably the best preparation for a job at our IT-department. However, we think that other related educations (like: Mathematics, Physics or Chemical Engineering) can also be a good fundament for our IT-traineeship. For us the most important ingredients are proven analytical capabilities and the will to help us improve and innovate our IT.

      h3 Curious?
      p Check out #[a(href='https://www.dsw.nl/werkenbij/home') werkenbijdsw.nl] for a more complete presentation of what working at DSW can be like. However, we prefer getting to know you during the SingularIT conference. We hope to see you there!
